{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "proseWrap": "always",
    "overrides": [
        {
            "files": ["*.yaml", "*.yml"],
            "options": {
                "printWidth": 120
            }
        }
    ]
}
